@model IEnumerable<AlugaiWEB.Models.DespesasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row py-3">
                <div class="col-lg-3 col-sm-3 mr-auto" id="sticky-sidebar">
                    <div class="sticky-top">
                        <div class="bg-light border-right" id="sidebar-wrapper">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action bg-light" asp-controller="Pessoa" asp-action="Index">Minha Conta</a>
                                <a class="list-group-item list-group-item-action bg-light" asp-controller="Pagamento" asp-action="Index">Resumo</a>
                                <a class="list-group-item list-group-item-action bg-light" asp-controller="Pessoa" asp-action="Index">Meus Dados</a>
                                <a class="list-group-item list-group-item-action bg-light" asp-controller="Imovel" asp-action="Index">Meus Imoveis</a>
                                <a class="list-group-item list-group-item-action bg-light" asp-controller="Aluguel" asp-action="Index">Meus Alugueis</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 ml-auto" id="main">

                    <!-- Tab panes -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodigoDespesas)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DescricaoDespesa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoDeDespesa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Valor)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoDespesas)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DescricaoDespesa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDeDespesa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.CodigoDespesas }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.CodigoDespesas }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.CodigoDespesas })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</body>


