@model IEnumerable<AlugaiWEB.Models.DespesasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoImovel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoImovel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CodigoDespesa }) |
                @Html.ActionLink("Details", "Details", new { id=item.CodigoDespesa }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CodigoDespesa })
            </td>
        </tr>
}
    </tbody>
</table>
