@model IEnumerable<AlugaiWEB.Models.DespesasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoDespesas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDespesas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CodigoDespesas }) |
                @Html.ActionLink("Details", "Details", new { id=item.CodigoDespesas }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CodigoDespesas })
            </td>
        </tr>
}
    </tbody>
</table>
