@model IEnumerable<AlugaiWEB.Models.SolicitacaoManuntecaoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_MeusDados";
}

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoManuntencao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeManuntencao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComodoImovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoImovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusManutencao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoManuntencao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeManuntencao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComodoImovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoImovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusManutencao)
            </td>

            <td style="width: 5%; text-align:center;">
                <div class="dropdown">
                    <button style="width: 40px" class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>@Html.ActionLink("Editar", "Edit", new { id = item.CodigoManuntencao }, new { @class = "dropdown-item"})</li>                        
                        <li>@Html.ActionLink("Detalhes", "Details", new { id = item.CodigoManuntencao }, new { @class = "dropdown-item"})</li>
                        <li>@Html.ActionLink("Deletar", "Delete", new { id = item.CodigoManuntencao }, new { @class = "dropdown-item"})</li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
