@model AlugaiWEB.Models.PagamentoModelcs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PagamentoModelcs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaDePagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoAluguel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoAluguel)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
