@model IEnumerable<AlugaiWEB.Models.PagamentoModelcs>

@{
    ViewData["Title"] = "Index";
    Layout = "_MeusDados";
}

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaDePagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVencimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormaDePagamento)
                </td>
                <td>
                    @Html.ActionLink("", "Edit", new { id = item.CodigoPagamento }, new { @class = "far fa-edit text-warning" })
                    @Html.ActionLink("", "Details", new { id = item.CodigoPagamento }, new { @class = "fas fa-info-circle text-primary" })
                    @Html.ActionLink("", "Delete", new { id = item.CodigoPagamento }, new { @class = "fas fa-trash text-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
