@model IEnumerable<AlugaiWEB.Models.DeclaracaoAluguelModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_MeusDados";
}

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoAluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoStatusPagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoAluguel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoStatusPagamento)
                </td>
                <td>
                    @Html.ActionLink("", "Edit", new { id = item.CodigoAluguel }, new { @class = "far fa-edit text-warning" })
                    @Html.ActionLink("", "Details", new { id = item.CodigoAluguel }, new { @class = "fas fa-info-circle text-primary" })
                    @Html.ActionLink("", "Delete", new { id = item.CodigoAluguel }, new { @class = "fas fa-trash text-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
