@model IEnumerable<AlugaiWEB.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.EstadoUf)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoUf)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CodigoPessoa }) |
                @Html.ActionLink("Details", "Details", new { id = item.CodigoPessoa }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CodigoPessoa })
            </td>
        </tr>
}
    </tbody>
</table>
