@model IEnumerable<AlugaiWEB.Models.ImovelModel>

@{
    ViewData["Title"] = "Imóvel";
    Layout = "_MeusDados";
}

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>

<body>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoImovel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoImovel)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorDoAluguel)
                </th>

                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoImovel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoImovel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorDoAluguel)
                    </td>
                    <td>
                        @Html.ActionLink("", "Edit", new { id = item.CodigoImovel }, new { @class = "far fa-edit text-warning" })
                        @Html.ActionLink("", "Details", new { id = item.CodigoImovel }, new { @class = "fas fa-info-circle text-primary" })
                        @Html.ActionLink("", "Delete", new { id = item.CodigoImovel }, new { @class = "fas fa-trash text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>